accelerate==0.29.1
aiofiles==23.2.1
albumentations==1.4.3
altair==5.3.0
aniso8601==9.0.1
ansi2html==1.9.1
antlr4-python3-runtime==4.9.3
autovizwidget==0.21.0
awscli==1.32.78
bitmath==1.3.3.1
blinker==1.7.0
boto3==1.34.78
botocore==1.34.78
cached-property
captum
certifi
cffi
chardet==4.0.0
charset-normalizer
click==8.1.7
cloudpickle==2.2.1
colorama
coloredlogs==15.0.1
colorlog==6.8.2
comm
contextlib2==21.6.0
contourpy
cryptography
cycler
debugpy
decorator
defusedxml
deprecation==2.1.0
dill==0.3.8
docker==6.1.3
docutils
dparse==0.6.3
einops==0.7.0
entrypoints
enum-compat==0.0.3
environment-kernels==1.2.0
exceptiongroup
executing
fastapi==0.110.2
fastjsonschema
ffmpy==0.3.2
filelock
Flask==3.0.2
Flask-RESTful==0.3.10
flatbuffers==24.3.25
fonttools
fqdn
fsspec==2024.2.0
gmpy2
google-pasta==0.2.0
gradio==4.27.0
gradio_client==0.15.1
gssapi==1.8.3
gym==0.26.2
gym-notices==0.0.8
h11
h2
hbutils==0.9.3
hdijupyterutils==0.21.0
hpack==4.0.0
httpcore
httpx
huggingface-hub==0.22.2
humanfriendly==10.0
hyperframe
idna
imageio
importlib-metadata==6.11.0
importlib-resources
inplace-abn==1.1.1.dev9+ge89e592
ipykernel
ipython
ipywidgets
isoduration
itsdangerous==2.1.2
jedi
Jinja2
jmespath
joblib==1.3.2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
krb5==0.5.1
lazy_loader==0.4
llvmlite==0.42.0
loguru==0.7.2
markdown-it-py==3.0.0
MarkupSafe
matplotlib
matplotlib-inline
mdurl==0.1.2
mistune
mpi4py==3.1.5
mpmath
multiprocess==0.70.16
munkres==1.1.4
nbclient
nbconvert
nbformat
nest_asyncio
networkx
notebook
notebook_shim
numba==0.59.0
numpy
nvgpu==0.10.0
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py==12.535.133
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.1.105
nvidia-nvtx-cu12==12.1.105
omegaconf==2.3.0
onnx
onnxruntime-gpu==1.16.3
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
orjson==3.10.0
overrides
packaging==21.3
pandas==1.5.3
pandocfilters
parso
pathos==0.3.2
patsy
pexpect
pickleshare
pillow
pkgutil_resolve_name
platformdirs
plotly==5.19.0
pox==0.3.4
ppft==1.7.6.8
prometheus_client
prompt-toolkit
protobuf==4.25.3
psutil
ptyprocess
pure-eval
py4j==0.10.9.5
pyarrow==15.0.0
pyasn1
pybind11
pybind11-global
pycparser
pydantic
pydantic_core
pydub==0.25.1
pyfunctional==1.4.3
pygame==2.5.2
Pygments
pynvml==11.5.0
pyparsing
PySocks
pyspark==3.3.0
pyspnego==0.10.2
python-dateutil
python-json-logger
python-multipart==0.0.9
pytimeparse==1.1.8
pytz
PyYAML
pyzmq
qtconsole==5.5.1
QtPy==2.4.1
referencing
requests
requests-kerberos==0.14.0
rfc3339-validator
rfc3986-validator
rich==13.7.1
rpds-py
rsa
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
ruff==0.4.1
s3fs==0.4.2
s3transfer
safetensors==0.4.2
sagemaker==2.214.3
sagemaker_pyspark==1.4.5
schema==0.7.5
scikit-image==0.22.0
scikit-learn==1.4.1.post1
scipy
seaborn
semantic-version==2.10.0
Send2Trash
shap==0.40.0
shellingham==1.5.4
six
slicer==0.0.7
smclarify==0.5
smdebug-rulesconfig==1.0.1
sniffio
soupsieve
sparkmagic==0.21.0
stack-data
starlette==0.37.2
statsmodels
sympy
tabulate==0.9.0
tblib==2.0.0
tenacity==8.2.3
termcolor==2.4.0
terminado
threadpoolctl==3.3.0
tifffile==2024.2.12
timm==0.9.16
tinycss2
tomli
tomlkit==0.12.0
toolz==0.12.1
torch==2.1.0
torch-model-archiver
torch-workflow-archiver
torchaudio==2.1.0
torchdata
torchserve
torchtext==0.16.0
torchvision==0.16.0
tornado
tqdm
traitlets
triton==2.1.0
typer==0.12.3
types-python-dateutil
typing-utils
typing_extensions
tzdata
ujson==5.9.0
unibox==0.3.20
unicodedata2
uri-template
urllib3
uvicorn==0.29.0
wcwidth
webcolors
webencodings
websocket-client
websockets==11.0.3
Werkzeug==3.0.1
widgetsnbextension
xformers==0.0.22.post4+cu118
xyzservices
zipp
